<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Hei Yuki</h5>
        <p class="grey-text text-lighten-4">This website is powered By Angular 2 (or Angular 4 if you want to say that) </p>
        <p class="grey-text text-lighten-4">If you're looking for a front end expert I recommend checking <a href="http://yesminesayah.me">Yesmine Sayah</a>. We did a lot of work together and she's one of the best at what she does </p>
        <div class="col s3 m3 l3">
          <a href="https://angular.io/">
            <img src="./assets/angular-logo.svg">
          </a>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Media</h5>
        <ul class="social-icons icon-circle list-unstyled list-inline">
          <li> <a href="https://github.com/heiyukidev"><i class="fa fa-github-alt"></i> heiyukidev</a></li>
          <li> <a href="https://www.linkedin.com/in/heiyukidev/"><i class="fa fa-linkedin"></i> heiyukidev</a></li>
          <li> <a href="https://twitter.com/heiyukidev"><i class="fa fa-twitter"></i> heiyukidev</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 heiyukidev
    </div>
  </div>
</footer>
