<div class="row">
  <div class="col s12 m12 l12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col s12 m12 l12 centered">
    <navigation></navigation>
  </div>

  <div class="col s12 m12 l12 centered aboutme">
    <div class="col s12 m12 l12">
      <div class="col s12 m12 l4">
        <img class="responsive-img circle z-depth-5" src="https://fb-s-d-a.akamaihd.net/h-ak-xta1/v/t1.0-9/12072711_10205938433954145_2510480122071916171_n.jpg?oh=7220157e0b15331beafd3f50f0e52292&oe=593C927B&__gda__=1497764824_86d49079ec07f18f5697545afe57a9f4"
            alt="Picture Of Heiyuki"> This is me Trying to be cool
      </div>
      <div class="col s12 m12 l8">
        <h2> About Me </h2>
        <p>
          I love to go by the name Heiyuki, Hei stands for "Dark" in Chinese, and Yuki stands for "Snow" in Japanese. I chose this name when I was 14 and still go with it everywhere. I hate building Web Apps. I just hate it, but I love modules and small pieces
          of code that just do amazing stuff, I promise I'm going to use for a big project but I just end up making more and more small modules. I'm a perfectionist, I try to make my code run as fast as I can and try to automate everything I do. Sometimes
          I even creep myself out. Attention to details, Always have something to do, hates more than anything sitting with nothing to do. If I'm in that spot (basically bored to death), I watch some conferences or go into the lab to find some more interesting
          functions in Javascript.
        </p>
        <p>You can join me on social media, have a look at what I do : </p>
        <ul class="social-icons icon-circle list-unstyled list-inline col s6 m6 l6">
          <li> <a href="https://github.com/heiyukidev"><i class="fa fa-github-alt"></i> heiyukidev</a>: Very Professional</li>
          <li> <a href="https://github.com/heiyuki"><i class="fa fa-github"></i> heiyuki</a>: From school days</li>
        </ul>
        <ul class="social-icons icon-circle list-unstyled list-inline col s6 m6 l6">
          <li> <a href="https://www.linkedin.com/in/heiyukidev/"><i class="fa fa-linkedin"></i> heiyukidev</a>: Mostly Inactive</li>
          <li> <a href="https://twitter.com/heiyukidev"><i class="fa fa-twitter"></i> heiyukidev</a>: Very Active</li>
        </ul>

        <!-- <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-github-square"></i></a></li>
<li> <a href="#"><i class="fa fa-trello"></i></a></li>
<li> <a href="#"><i class="fa fa-tumblr"></i></a></li>
<li> <a href="#"><i class="fa fa-dropbox"></i></a></li>
<li> <a href="#"><i class="fa fa-instagram"></i></a></li>
<li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
<li> <a href="#"><i class="fa fa-youtube"></i></a></li>
<li> <a href="#"><i class="fa fa-youtube-play"></i></a></li>
<li> <a href="#"><i class="fa fa-youtube-square"></i></a></li> -->
      </div>
    </div>
    <div class="col s12 m12 l12 centered">
      <div class="col s12 m12 l4">
        <img class="responsive-img circle z-depth-5" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/10922823_10204222738262825_3634894102587764405_n.jpg?oh=2a03ec2c127602e22cccaa05b3ff2671&oe=5933C550"> This is me at a local Hearthstone Tournament
      </div>
      <div class="col s12 m12 l8">
        <h2> Passions </h2>
        <p>
          <b>E-Sport :</b> Formerly an amateur league of legends player, and a hearthstone semi-pro player, I grew up with gaming as a huge part of my life. I always attended local tournaments and won a couple online tournaments. needless to say I'm a
          very competitive person. These days I just watch games when I have some time to spare, or watch live events and tell myself: Maybe I should try to be there too.
        </p>
        <p>
          <b>Guitar :</b> One of the things I almost never miss is going out on Saturday (usually my day off at school) and go play guitar at a local coffee. It opens at 6am, so I make sure I'm there as early as possible so I can spend my time alone with
          my guitar. it ends up being something like 7am to 8-9am because after that it's way too crowded.
        </p>
        <p> Needless to mention that Javascript is taking all of my time these days and I don't shy from spending hours just trying to optimize and automate my workflow.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
