<div class="col-md-12">
  <div class="col-md-12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col-md-12 centered">
    <navigation></navigation>
  </div>
  <div class="col-md-12 centered aboutme">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-12 col-xs-12 ">
        <img class="img-responsive" src="https://fb-s-d-a.akamaihd.net/h-ak-xta1/v/t1.0-9/12072711_10205938433954145_2510480122071916171_n.jpg?oh=7220157e0b15331beafd3f50f0e52292&oe=593C927B&__gda__=1497764824_86d49079ec07f18f5697545afe57a9f4"> This is
        me Trying to be cool
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12 ">
        <h2> About Me </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-12">

      <div class="col-md-4 col-sm-12 col-xs-12 ">
        <img class="img-responsive" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/10922823_10204222738262825_3634894102587764405_n.jpg?oh=2a03ec2c127602e22cccaa05b3ff2671&oe=5933C550"> This is me at a local Hearthstone Tournament
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12 ">
        <h2> Passions </h2>
        <ul>
          <li><b>E-Sport :</b> Formerly an amateur league of legends player, and a hearthstone semi-pro player, i grew up with gaming as a huge part of my life. I always attended local tournaments and won a couple online tournaments. needless to say I'm a
            very competitive person. These days I just watch games when I have some time to spare, or watch live events and tell myself: Maybe I should try to be there too. </li>
          <li><b>Guitar :</b> One of the things I almost never miss is going out on Saturday (usually my day off at school) and go play guitar at a local coffee. It opens at 6am, so I make sure I'm there as early as possible so I can spend my time alone with
            my guitar. it ends up being something like 7am to 8-9am because after that it's way too crowded.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
