<div class="col-md-12">
  <div class="col-md-12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col-md-12 centered">
    <navigation></navigation>
  </div>
  <div class="col-md-12">
    <h2>Modules</h2>
    <p>I primarily work on Javascript modules for a variety of Technologies (Mainly NodeJs) and javascript frameworks</p>
    <p> If you think I focus too much on Javascript, you're not wrong, I just love the language </p>
    <p> But for now I have School so I'll fill this later #PlaceHolders </p>
  </div>
</div>

<app-footer></app-footer>
