<div class="col s12 m12 l12">
  <div class="col s12 m12 l12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col s12 m12 l12 centered">
    <navigation></navigation>
  </div>
  <div class="col s12 m12 l12 center-align">
    <h2>Portfolio</h2>
    <p class="center-align">I don't want to include My School Projcects here but you can find a lot Javascript Related Things on my github</p>
    <ul class="social-icons icon-circle list-unstyled list-inline center-align col s6 m6 l6">
      <li> <a href="#"><i class="fa fa-github-alt"></i> heiyukidev</a>: Very Professional</li>
      <li> <a href="#"><i class="fa fa-github"></i> heiyuki</a>: From school days</li>
    </ul>
    <ul class="social-icons icon-circle list-unstyled list-inline center-align col s6 m6 l6">
      <li> <a href="#"><i class="fa fa-linkedin"></i> heiyukidev</a>: Mostly Inactive</li>
      <li> <a href="#"><i class="fa fa-twitter"></i>   heiyukidev</a>: Very Active</li>
    </ul>
    <p class="col s12 m12 l12 center-align"> But for now I have School so I'll fill this later #PlaceHolders </p>
  </div>
</div>

<app-footer></app-footer>
