<div class="row">
  <div class="col s12 m12 l12">
    <div class="col s12 m12 l12 center-align">
      <app-quote></app-quote>
    </div>
    <div class="col s12 m12 l12 center-align">
      <navigation></navigation>
    </div>
    <div class="col s12 m12 l12 center-align aboutme">
      <h1>My Setup</h1>
      <hr>
      <p class="center-align">This is my Work environment and all the technologies I use to develop web applications.</p>
      <p class="center-align"> Since I do mostly javascipt developpement most of these tools are geared towards that.</p>
      <div class="col s12 m12 l12 row">
        <h1>Software</h1>
        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="https://www.ubuntu.com/">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/ubuntu-logo.jpg" alt="Ubunto OS">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>Ubuntu</strong>: Ubuntu is an open source software platform. It's a fancy way to say Operating system and I use it daily. Most of server are linux powered machines, So I feel at home when I ssh into a server.
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="https://atom.io/">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/atom-logo.png" alt="Atom IO">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>Atom</strong>: Atom is hackable tex editor. I configure snippets all the time for more productivity. I use Atom for everything! It has good support for a lot of languages but I mostly use it for Javascript.
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="https://trello.com">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/trello-logo.png" alt="Trello">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>Trello</strong>: Trello is a way to organize my work. It's very simple and flexible. Most people don't realize how important it is to visualize how much work you have done and still have to do. It helps you better manage your time.
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="https://www.npmjs.com/">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/npm-logo.png" alt="NPM">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>NPM</strong>: Arguable the best this ever. NPM stands for Node Package Manager. It's a registry of modules and packages. I use NPM to install everything and I contribute by Publishing my own modules too.
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="https://bower.io/">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/bower-logo.png" alt="Bower">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>Bower</strong>: Bower is a dependency Manager for The Web. I use it for front end Applications to install my libraries. It's also available on NPM so you can use both on a single project.
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="col s12 m4 l4">
            <a href="http://yeoman.io/">
              <img class="responsive-img circle z-depth-5" src="./assets/setup-logos/yeoman-logo.png" alt="Yeoman">
            </a>
          </div>
          <div class="col s12 m8 l8">
            <strong>Yeoman</strong>: Yeoman is a tool to generate projects. I use it to quickly setup Javascript environments because a lot of them take time to properly setup.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
