<div class="col-md-12">
  <div class="col-md-12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col-md-12 centered">
    <navigation></navigation>
  </div>
  <div class="col-md-12 centered aboutme">
    <h2> My Resume </h2>
    <hr>
    <div class="col-md-12">
      <h2> Core Competencies </h2>
      <hr>
      <ul>
        <li>Server Side Javascript (Node.Js, Express,Lusca, MongoDB)</li>
        <li>Javascript Front End Frameworks (Angularjs, Angular 2, Ionic, Ionic -v2)</li>
        <li>PHP and PHP Framework (Symfony, Laravel)</li>
        <li>Java (JavaEE, JSF)</li>
      </ul>
    </div>
    <div class="col-md-12">
      <h2> Professional Experience </h2>
      <hr>
      <div class="col-md-6">
        <div class="col-md-12">
          <h4>Web Developer at STUSID Bank Intern</h4>
          <hr> JSP, Web Sockets, Starting January 2015
        </div>
        <div class="col-md-12">
          <ul>
            <li>I Worked withing the IT department.</li>
            <li>Build a platform for different departments to exchange files.</li>
            <li>Limiting the access to files according to different departments .</li>
            <li>Black listing specific users withing a department.</li>
            <li>Treating different file types differently.</li>
            <li>Separating Web Server, Application Server, Database Server and File Storage Server.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h4>Freelance for a conferences Website</h4>
          <hr> PHP – Symfony 2.5, Starting December 2016
        </div>
        <div class="col-md-12">
          <ul>
            <li>Build a Website to present the conference, it’s committees and speakers.</li>
            <li>Dynamically Generated content according to the administrator’s choices.</li>
            <li>Email validation and Password resetting.</li>
            <li>Abstract (File) submissions.</li>
            <li>Excel Files generation (list of attendees and their abstract).</li>
            <li>Counsel clients or patients, individually or in-group sessions, to assist in overcoming dependencies, adjusting to life, or making changes.</li>
            <li>Abstract review section.</li>
            <li>Dynamically allow specific users (reviewers) to review and rate abstract.</li>
            <li>Geolocalization of visitors for statistics</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2> Education </h2>
      <hr>
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Bachelor Degree</h3>
          <span class="alternate">2012</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Licence in Computer Science</h3>
          <span class="alternate">2012-2015</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Computer Engeneering Degree</h3>
          <span class="alternate">2015-2018</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
