<div class="col-md-12">
  <div class="col-md-12 centered">
    <app-quote></app-quote>
  </div>
  <div class="col-md-12 centered">
    <navigation></navigation>
  </div>
  <div class="col-md-12 centered aboutme">
    <h1> My Resume </h1>
    <h2> Education </h2>

    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Bachelor Degree</h3>
          <span class="alternate">2012</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Licence in Computer Science</h3>
          <span class="alternate">2012-2015</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-12">
          <h3>Computer Engeneering Degree</h3>
          <span class="alternate">2015-2018</span>
        </div>
        <div class="col-md-9 col-sm-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
