<div class="row">
  <div class="col s12 m12 l12">
    <div class="col s12 m12 l12 centered">
      <app-quote></app-quote>
    </div>
    <div class="col s12 m12 l12 centered">
      <navigation></navigation>
    </div>
    <div class="col s12 m12 l12 centered aboutme">
      <h1> My Resume </h1>
      <hr>
      <div class="col s12 m12 l12">
        <h2> Core Competencies </h2>
        <hr>
        <div class="col s12 m12 l12">
          <h3>Server Side Javascript Expert</h3>

          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/nodejs-logo.png" alt="Node Js">
            </div>
            <div class="col s12 m12 l12">
              <strong>NodeJs</strong>: Plateform for Running Server Side Javascript.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/express-logo.png" alt="Express">
            </div>
            <div class="col s12 m12 l12">
              <strong>Express</strong>: NodeJs Framework For Web Developpement.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/Lusca-logo.png" alt="Lusca">
            </div>
            <div class="col s12 m12 l12">
              <strong>Lusca</strong>: NodeJs Module For Security.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/MongoDb-logo.png" alt="Mongo DB">
            </div>
            <div class="col s12 m12 l12">
              <strong>MongoDB</strong>: NoSQL Database, Fast And Scalable. Also Familiar With NoSQL ORMs (ex:Mongooose).
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/socketio-logo.png" alt="Socket IO">
            </div>
            <div class="col s12 m12 l12">
              <strong>Socket.io</strong>: Javascript Real Time Applications NodeJs Module
            </div>
          </div>
        </div>
        <hr>
        <div class="col s12 m12 l12 row">

          <h3>Front End Javascript Expert</h3>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/angular-logo.svg" alt="AngularJs-Angular2">
            </div>
            <div class="col s12 m12 l12">
              <strong>Angular JS</strong>: AngularJS, Angular 2 and Angular 4 are the Core of almost everything I built. Powerfull Front End Javascript Framework By Google.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/react-logo.png" alt="React Js">
            </div>
            <div class="col s12 m12 l12">
              <strong>React JS</strong>: React JS is a declarative Front End Javascript Framework By Facebook.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/ionic-logo.png" alt="Ionic">
            </div>
            <div class="col s12 m12 l12">
              <strong>Ionic</strong>: Ionic is a Front end Javascript Framework Over Angular JS. Ionic -V2 Is a Over Angular 2 / Angular 4.
            </div>
          </div>
          <div class="col s6 m3 l2">
            <div class="col s12 m12 l12">
              <img class="responsive-img circle z-depth-5" src="./assets/jquery-logo.png" alt="JQuery">
            </div>
            <div class="col s12 m12 l12">
              <strong>JQuery</strong>: JQuery Front End Javascript Framework For DOM Manipulation.
            </div>
          </div>
        </div>
        <hr>
        <!-- <li>PHP and PHP Framework (Symfony, Laravel)</li>
        <li>Java (JavaEE, JSF)</li> -->
      </div>
      <div class="col s12 m12 l12">
        <h2> Professional Experience </h2>
        <hr>
        <div class="col s6 m6 l6">
          <div class="col s12 m12 l12">
            <h4>Web Developer at STUSID Bank Intern</h4>
            <hr> JSP, Web Sockets, Starting January 2015
          </div>
          <div class="col s12 m12 l12">
            <ul>
              <li>I Worked withing the IT department.</li>
              <li>Build a platform for different departments to exchange files.</li>
              <li>Limiting the access to files according to different departments.</li>
              <li>Black listing specific users withing a department.</li>
              <li>Treating different file types differently.</li>
              <li>Separating Web Server, Application Server, Database Server and File Storage Server.</li>
            </ul>
          </div>
        </div>
        <div class="col s6 m6 l6">
          <div class="col s12 m12 l12">
            <h4>Freelance for a conferences Website</h4>
            <hr> PHP – Symfony 2.5, Starting December 2016
          </div>
          <div class="col s12 m12 l12">
            <ul>
              <li>Build a Website to present the conference, it’s committees and speakers.</li>
              <li>Dynamically Generated content according to the administrator’s choices.</li>
              <li>Email validation and Password resetting.</li>
              <li>Abstract (File) submissions.</li>
              <li>Excel Files generation (list of attendees and their abstract).</li>
              <li>Counsel clients or patients, individually or in-group sessions, to assist in overcoming dependencies, adjusting to life, or making changes.</li>
              <li>Abstract review section.</li>
              <li>Dynamically allow specific users (reviewers) to review and rate abstract.</li>
              <li>Geolocalization of visitors for statistics</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <h2> Education </h2>
        <hr>
        <div class="col s12 m12 l12">
          <div class="col s12 m3 l3">
            <h3>Bachelor Degree</h3>
            <span class="alternate">2012</span>
          </div>
          <div class="col s12 m9 l9">
            <p>
              I was a math student up until my Bachelor Degree. Computers have always fascinated me, but it was mostly because of Video Games. I was seeing myself as a computer engineer, but I wanted to master logic and algorithmic through the math before diving into development.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l12">
          <div class="col s12 m3 l3">
            <h3>Licence in Computer Science</h3>
            <span class="alternate">2012-2015</span>
          </div>
          <div class="col s12 m9 l9">
            <p>
              These years were important in my career because I learned a lot of algorithmic but still no web development tools. I mostly did Java and at the end of these three years had the opportunity to work with PHP. It was my first time being introduced to the web and probably the reason why I have symphony in my toolkit. During that time too, I focused a lot of gaming mainly league of legends, Starcraft2 and Hearthstone
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l12">
          <div class="col s12 m3 l3">
            <h3>Computer Engeneering Degree</h3>
            <span class="alternate">2015-2018</span>
          </div>
          <div class="col s12 m9 l9">
            <p>
              This period of time was the best for my career. I decided that on top of my studies, I should work on learning Javascript and make the most out of my free time. I decided to get a part-time job and pack up as much knowledge as possible. I started watching conferences and talks about javascript, learned all the dev tools and almost had a look at every framework front end and back end. I fell in love with the open source community on GitHub and that's how I decided to be an Evangelist.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
