  <button class="waves-effect waves-light btn light-blue darken-4" routerLink="/about" routerLinkActive="active">About Me</button>
  <button class="waves-effect waves-light btn light-blue darken-4" routerLink="/resume" routerLinkActive="active">My Resume</button>
  <button class="waves-effect waves-light btn light-blue darken-4" routerLink="/modules" routerLinkActive="active">My Modules</button>
  <button class="waves-effect waves-light btn light-blue darken-4" routerLink="/setup" routerLinkActive="active">My Setup</button>
  <button class="waves-effect waves-light btn light-blue darken-4" routerLink="/portfolio" routerLinkActive="active">My Portfolio</button>
